<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>$!guide.title</title>
  <meta name="author" content="$!guide.authorName">
  <meta name="keywords" content="$!guide.keywordsString">
  <meta name="description" content="$!guide.description">
#if ($guide.originalUrl)
  <link rel="alternate" href="$guide.originalUrl" />
#end
#if ($guide.authorUrl)
  <link rel="author" href="$guide.authorUrl" />
#end
#if ($guide.thumbnail)
  <link rel="icon" href="$guide.thumbnail.url" sizes="$guide.thumbnail.sizeString" type="$guide.thumbnail.mimeType" />
#end
</head>
<body>
#foreach ($chapter in $guide.chapters)
  <article class="chapter">
    #foreach ($page in $chapter.pages)
    <section id="$page.id" class="page">
      #if ($page.text)
      <div class="text">
        $page.text
      </div>
      #end
      #if ($page.buttons.size() > 0)
      <div class="buttons">
        #foreach ($button in $page.buttons)
        <button #if ($button.target)data-goto="#$button.target"#end>$button.text</button>
        #end        
      </div>
      #end    
    </section>
    
    #end  
  </article>
#end  
</body>
</html>