<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appenders>
    <RollingFile name="File" fileName="logs/guideme.log" filePattern="logs/$${date:yyyy-MM}/guideme-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" />
      <PatternLayout pattern="%d{ISO8601} %-5level %logger{1} - %msg%n%throwable" />
      <MarkerFilter marker="JSCRIPT" onMatch="DENY" onMismatch="ACCEPT" />
    </RollingFile>
    <RollingFile name="Jscript" fileName="logs/jscript.log" filePattern="logs/$${date:yyyy-MM}/jscript-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" />
      <PatternLayout pattern="%d{ISO8601} %-5level %logger{1} - %msg%n%throwable" />
      <MarkerFilter marker="JSCRIPT" onMatch="ACCEPT" onMismatch="DENY" />
    </RollingFile>
    <RollingFile name="Vlcj" fileName="logs/vlc.log" filePattern="logs/$${date:yyyy-MM}/vlc-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="3" />
      <PatternLayout pattern="%d{ISO8601} %-5level %logger{1} - %msg%n%throwable" />
    </RollingFile>
  </appenders>
  <loggers>
    <logger name="uk.co.caprica.vlcj" level="debug" additivity="false">
      <appender-ref ref="Vlcj" />
    </logger>
    <root level="debug">
      <appender-ref ref="File" />
      <appender-ref ref="Jscript" />
    </root>
  </loggers>
</configuration>